/* --------------------------------------------------- BODY -------------------------------------------------- */

body {
  background-color: var(--aux-color);
}

header {
  background-color: transparent !important;
}

/* --------------------------------------------------- END BODY -------------------------------------------------- */

/* --------------------------------------------------- BRAND -------------------------------------------------- */

.carrossel-brands {
  margin-top: 50px;
}

#carrossel-brands-swiper img {
  display: flex;
  min-height: 100px;
  width: 100%;
  max-height: 100%;
  object-fit: unset !important;
}

/* .carrossel-brands #carrossel-brands-swiper::after{
  position: relative;
  content: "";
  height: 100px;
  display: block;
  background: rgb(19,19,19);
  background: linear-gradient(90deg, rgba(19,19,19,1) 0%, transparent 15%, transparent 85%, rgba(19,19,19,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
} */

@media only screen and (max-width: 1000px) {
  .carrossel-brands .container {
    max-width: 100%;
    width: 100%;
  }
}

/* --------------------------------------------------- END BRAND -------------------------------------------------- */

/* --------------------------------------------------- HEADER -------------------------------------------------- */

header {
  background-color: var(--main-color);
}

.group_box_content_text-header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--tom-black-1);
  mix-blend-mode: normal;
}

.group_box_content_text-header h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}

a.buttom-header {
  border-radius: 55px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--tom-white-1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
}

.image-bloco1 {
  width: 100%;
}

/* --------------------------------------------------- about-agency -------------------------------------------------- */

.about-agency {
  margin-bottom: 229px;
  margin-top: 200px;
}

.content-about-agency {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 200px;
}

.content-about-agency figure > img {
  max-height: 290px;
}

.group_box_content-about-agency {
  width: 63%;
  max-width: 50vw;
}

.group_box_content_text-about-agency h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  max-width: 550px;
}

.group_box_content_text-about-agency h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  max-width: 850px;
  /* text-align: justify; */
}

@media only screen and (min-width: 1000px) {
  .group_box_content_text-about-agency {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
    width: 100%;
    margin-left: 99px;
  }
}

@media only screen and (max-width: 1000px) {
  .content-about-agency {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .group_box_content_text-about-agency {
    max-width: unset;
  }
}

/* --------------------------------------------------- bloco4 -------------------------------------------------- */

.bloco4 {
  margin-bottom: 229px;
}

.content-bloco4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-bloco4 .bloco4__swiper {
  max-width: 70%;
  width: fit-content;
}

.group_box_content_text-bloco4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 481px;
  width: 100%;
  margin-bottom: 25px;
}

.group_box_content_text-bloco4 h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
}

.group_box_content_text-bloco4 ul > li {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  color: var(--tom-fonte-corrida);
}

@media only screen and (max-width: 1000px) {
  .content-bloco4 {
    flex-direction: column;
  }
}

/* --------------------------------------------------- bloco5-------------------------------------------------- */

.bloco5 {
  margin-bottom: 100px;
}

.content-bloco5 {
  display: flex;
  justify-content: space-between;
}

.content-bloco5 img {
  max-width: 200px;
}

.content-text-bloco5 {
  color: var(--tom-fonte-corrida);
}

.content-text-bloco5 ul {
  display: flex;
  flex-direction: column;
}

.content-text-bloco5 ul li {
  font-size: 35px;
  line-height: 50px;
}

.content-text-bloco5 ul li span {
  color: var(--second-color);
  font-weight: bold;
}

.content-text-bloco5 ul li .button-bloco5 {
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 20px;
  width: 100%;
  max-width: 340px;
}

@media only screen and (min-width: 900px) {
  .group_box_content_text-header h1 {
    width: 427px;
  }

  .group_box_content_text-header h5 {
    width: 445px;
  }

  .content-header figure img {
    max-width: 693px;
    max-height: 598px;
  }

  .group__box_content-check-out {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 385px);
  }
}

@media only screen and (max-width: 1000px) {
  .content-bloco5 {
    flex-direction: column;
    align-items: center;
  }

  .content-bloco5 img {
    width: 100%;
  }

  .content-bloco4 .bloco4__swiper {
    max-width: 50vw;
    width: 100%;
  }

  .content-bloco4 .bloco4__swiper figure,
  .content-bloco4 .bloco4__swiper img {
    width: 100%;
  }

  .container.content-bloco4 .bloco4__swiper swiper-container {
    width: 100% !important;
    height: 100% !important;
  }

  .content-text-bloco5 ul li {
    font-size: 25px;
    margin-top: 20px;
  }

  .group_box_content-about-agency {
    max-width: 99vw;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .box_content-our_services {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .group__box_content-check-out {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
